<table id="goalstable">
    <tr><td colspan="2"><strong style="font-size: 1.5em">Goals</strong></h3></td></td></tr>
    <tr>
        <td><h3>Daily Items</h3></td>
        <td><h3>Daily Bundles</h3></td>
    </tr>
    <tr>
        <td><div id="digcirc"></div></td>
        <td><div id="dbgcirc"></div></td>
    </tr>
    <tr>
        <td><span id="di">0</span>/<input id="dig" type="number"/></td>
        <td><span id="db">0</span>/<input id="dbg" type="number"/></td>
    </tr>
    <tr>
        <td><h3>Monthly Items</h3></td>
        <td><h3>Monthly Bundles</h3></td>
    </tr>
    <tr>
        <td><div id="migcirc"></div></td>
        <td><div id="mbgcirc"></div></td>
    </tr>
    <tr>
        <td><span id="mi">0</span>/<input id="mig" type="number"/></td>
        <td><span id="mb">0</span>/<input id="mbg" type="number"/></td>
    </tr>
</table>