<div class="settinggroup">
    <div class="settingheader">
        General
    </div>
    <div class="settingitem">
        <div class="settinglabel">Import Bind Log</div>
        <div class="settingfunction">
            <div id="importdata" class="btn">Import</div>
        </div>
        <div class="settingdesc">Import bind log from this version of Aline.</div>
    </div>
    <div class="settingitem">
        <div class="settinglabel">Import Old Bind Log</div>
        <div class="settingfunction">
            <div id="importolddata" class="btn">Import</div>
        </div>
        <div class="settingdesc">Import bind log from older versions.</div>
    </div>
    <div class="settingitem">
        <div class="settinglabel">Export Bind Log</div>
        <div class="settingfunction">
            <div id="exportdata" class="btn">Export</div>
        </div>
        <div class="settingdesc">Export bind log for easy transfer.</div>
    </div>
    <div class="settingitem">
        <div class="settinglabel">Default Fullscreen Notepad</div>
        <div class="settingfunction">
            <input data-setting type="checkbox" id="fsnotepad"/>
        </div>
        <div class="settingdesc">Fullscreen notepad is set to open by default.</div>
    </div>
</div>

<div class="settinggroup">
    <div class="settingheader">
        Personalize
    </div>
    <div class="settingitem">
        <div class="settinglabel">Theme</div>
        <div class="settingfunction">
            <select data-setting id="themeselect"></select>
        </div>
        <div class="settingdesc">Select a theme for your notebook!</div>
    </div>
</div>