<div class="settinggroup">
    <div class="settingheader">
        General
    </div>
    <div class="settingitem">
        <div class="settinglabel">Import Data</div>
        <div class="settingfunction">
            <div id="importdata" class="btn">Import</div>
        </div>
        <div class="settingdesc">Import data from older versions.</div>
    </div>
    <div class="settingitem">
        <div class="settinglabel">Default Fullscreen Notepad</div>
        <div class="settingfunction">
            <input data-setting type="checkbox" id="fsnotepad"/>
        </div>
        <div class="settingdesc">Fullscreen notepad is set to open by default.</div>
    </div>
</div>